
<div class="topbar">
  <div class="container topbar__in">
    <a class="topbar__item" href="tel:+18000000000"><span class="icon" data-icon="phone"></span>(800) 000-0000</a>
    <a class="topbar__item topbar__mail" href="mailto:hello@highcardcapital.example"><span class="icon" data-icon="mail"></span>hello@highcardcapital.example</a>
    <a class="topbar__apply" href="apply.html">Apply</a>
  </div>
</div>

<header class="nav">
  <div class="container nav__in">
    <button class="nav__burger" type="button" aria-expanded="false" aria-label="Menu"><span></span><span></span><span></span></button>
    <a class="nav__logo" href="index.html" aria-label="High Card Capital home">
      <img class="lg-green" src="assets/logo/lockup-horizontal-emerald.svg" alt="High Card Capital" width="220" height="34">
      <img class="lg-cream" src="assets/logo/lockup-horizontal-cream.svg" alt="" width="220" height="34" aria-hidden="true">
    </a>
    <nav aria-label="Primary">
      <ul class="nav__links">
        <li><a href="index.html" data-nav-item="home">Home</a></li>
        <li>
          <a href="services.html" data-nav-item="funding" aria-haspopup="true">Services <span class="caret" data-icon="chevron-up" style="transform:rotate(180deg)"></span></a>
          <div class="drop">
            <a href="heloc.html"><span><b>HELOC</b></span></a>
            <a href="term-loans.html"><span><b>Term Loans</b></span></a>
            <a href="sba-loans.html"><span><b>SBA</b></span></a>
            <a href="line-of-credit.html"><span><b>Line of Credit</b></span></a>
            <a href="equipment-financing.html"><span><b>Equipment Financing</b></span></a>
            <a href="revenue-financing.html"><span><b>Revenue-Based Financing</b></span></a>
            <div class="drop__foot"><a class="link-arrow" href="services.html">See all services <span data-icon="chevron-right"></span></a></div>
          </div>
        </li>
        <li><a href="industries.html" data-nav-item="industries">Industries</a></li>
        <li><a href="about.html" data-nav-item="about">About us</a></li>
        <li><a href="faq.html" data-nav-item="faq">FAQ</a></li>
        <li><a href="blog.html" data-nav-item="blog">Blog</a></li>
      </ul>
    </nav>
    <div class="nav__cta">
      <a class="nav__phone" href="tel:+18000000000"><span class="icon" data-icon="phone" style="width:16px;height:16px"></span><span>(800)&nbsp;000-0000</span></a>
      <a class="btn nav__apply" href="apply.html" data-magnetic>Apply<span class="nav__apply-now">&nbsp;Now</span></a>
    </div>
  </div>
</header>

<div class="menu" id="menu">
  <nav aria-label="Mobile">
    <ul class="menu__links">
      <li><a href="index.html">Home</a></li>
      <li><a href="services.html">Services</a></li>
      <li>
        <ul class="menu__sub">
          <li><a href="heloc.html">HELOC</a></li>
          <li><a href="term-loans.html">Term Loans</a></li>
          <li><a href="sba-loans.html">SBA</a></li>
          <li><a href="line-of-credit.html">Line of Credit</a></li>
          <li><a href="equipment-financing.html">Equipment Financing</a></li>
          <li><a href="revenue-financing.html">Revenue-Based Financing</a></li>
        </ul>
      </li>
      <li><a href="industries.html">Industries</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="blog.html">Blog</a></li>
    </ul>
  </nav>
  <div class="menu__foot">
    <a class="phone-link" href="tel:+18000000000"><span class="icon" data-icon="phone"></span> (800) 000-0000</a>
    <a class="btn" href="apply.html">Apply Now</a>
  </div>
</div>
